body {
  --primary-color: #3A4B40;
  background-color: var(--primary-color);
}
.app {
  font-family: "Century Gothic";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 6px;
  border-color: black;
  background-color: #74a786;
  font-size: medium;
  color: black;
  text-align: center;
  padding: 8px;
  height: 32px;
  width: 32px;
  -webkit-appearance: none;
  margin: 8px;

}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.cell {
  border: none;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
}

h1 {
  background-color: #53C083;
  border-radius: 6px;
  padding: 8px;
}

h2 {
  text-align: center;
}

.alive {
  color: #53C083;
}

.dead {
  color: #666B6A;
}

button {
  font-family: "Century Gothic";
  color: black;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  height: 40px;
  background-color: #74a786;
}

 .app > button {
  margin: 8px;
}

 .colonyGenerator {
   margin: 16px;
 }

 .colonyGeneratorButtons > button {
   margin-left: 8px;
 }

 .gridBody {
   position: relative;
 }

 .arrow {
   position: absolute;
   right: -150px;
   bottom: 0px;
   width: 100px;
   height: 100px;
 }

 .gridBody > p {
   color: white;
   position: absolute;
   right: -300px;
   bottom: 65px;
   font-weight: bold;
 }